<h2 class="heroes-header">Hero Details</h2>
<div class="list-container container">
  <ng-container *ngIf="!loading; else loadingTemplate">
    <div class="hero-info-container" *ngIf="hero">
      <div class="info-img-container">
        <img
          class="detail-img"
          src="{{ hero.thumbnail?.path }}.{{ hero.thumbnail?.extension }}"
          alt="hero: {{ hero.name }}"
        />
      </div>
      <div class="info-container">
        <h3 class="info-text-name">{{ hero.name | uppercase }}</h3>
        <p><span class="info-text-text">ID:</span> {{ hero.id }}</p>
        <p>
          <span class="info-text-text">Description:</span>
          {{ hero.description }}
        </p>
        <p><span class="info-text-text">Appearance:</span></p>
        <ul>
          <li *ngFor="let item of hero.comics?.items">{{ item.name }}</li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingTemplate><app-spinner class="loading-spinner"></app-spinner></ng-template>
</div>

<div class="container">
  <button type="button" (click)="goBack()">Go back</button>
</div>
