.dashboard-header {
  text-align: center;
  -webkit-text-stroke: 3px #000;
  text-shadow: 3px 3px 0 #000;
  color: #de754c;
  font-size: 35px;
  font-family: "Lalezar", system-ui;
  paint-order: stroke fill;
}

.heroes-list{
  border: 5px solid #000;
  width: 720px;
  min-height: 750px;
  box-shadow: 10px 10px 0 0 #000;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 30px;
  justify-content: space-between;
  padding: 50px 32px 15px 32px;
  margin-bottom: 70px;
}