<app-hero-search (onEnter)="setSearchValue($event)"></app-hero-search>
<h2 class="heroes-header">Heroes</h2>
<div class="list-container container">
  <ng-container *ngIf="!loading; else loadingTemplate">
    <app-hero-card *ngFor="let hero of heroes" [hero]="hero"></app-hero-card>
  </ng-container>
  <ng-template #loadingTemplate 
    ><app-spinner class="loading-spinner"></app-spinner
  ></ng-template>
  <div class="list-page" [ngClass]="{ loading: loading }">{{ page }}</div>
</div>
<app-pagination
  (onClick)="setPage($event)"
  [maxPage]="maxPage"
  [page]="page"
></app-pagination>
