@use "./colors.scss";

body {
  background-color: colors.$background;
  background-image: url("../assets/Back-ground-dots.png");
  background-repeat: repeat-x;
  background-position-y: 100px;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

button {
  display: flex;
  padding: 10px 30px;
  text-decoration: none;
  font-family: "Kufam", sans-serif;
  font-size: 20px;
  color: #fff;
  background: colors.$blue;
  transition: 1s;
  box-shadow: 3px 3px 0 colors.$black;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }

  &:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 0 colors.$yellow;
  }
}

.heroes-header {
  text-align: center;
  -webkit-text-stroke: 3px colors.$black;
  paint-order: stroke fill;
  text-shadow: 3px 3px 0 colors.$black;
  color: colors.$red;
  font-size: 35px;
  font-family: "Lalezar", system-ui;
}

.list-container {
  border: 5px solid colors.$black;
  width: 720px;
  min-height: 500px;
  box-shadow: 10px 10px 0 0 colors.$black;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 30px;
  justify-content: space-between;
  padding: 50px 32px 15px 32px;
  margin-bottom: 70px;
}

.info-container {
  background-color: colors.$yellow;
  height: fit-content;
  padding: 15px;
  max-width: 320px;
  border: 3px solid colors.$black;
  font-family: "Kufam", sans-serif;
}
